@font-face {
  font-family: pixelFont;
  src: url("./fonts/dogica.ttf");
}

* {
  box-sizing: border-box;
  font-family: pixelFont, monospace;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  position: relative;
}
